{% extends 'base.html.twig' %}

{% block title %}mentions légales{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="my-3">Mentions légales / CGV-CGU</h1>

        <div class="card mt-3">
            <h1 class="my-3 mx-3">Mes informations personnelles</h1>
            <div class="mx-4">
                <p>
                    Nous nous engageons à protéger vos informations et données personnelles, à être transparents sur les données que nous détenons et à vous donner le contrôle sur la façon dont nous les utilisons. L’objectif de notre politique de confidentialité est de :
                    <br>- vous expliquer clairement et simplement comment nous utilisons les informations que nous collectons lorsque vous utilisez nos services;
                    <br>- vous détailler les options que nous vous proposons afin de contrôler l’usage de vos données, les droits que vous détenez sur celles-ci et la façon de les exercer.
                </p>
            </div>

            <h2 class="my-3 mx-4">Qui est le responsable du traitement des données me concernant ? Quels services sont concernés ?</h2>
            <div class="mx-5">
                <p>
                    L’URPS-ML-PACA (Union régionale des professionnels de Santé, Médecins libéraux, Provence Alpes Côte d’Azur) est responsable du traitement de vos données.
                    <br>Adresse : 37/39 Boulevard Vincent Delpuech, 13006 Marseille 
                    <br>Téléphone : <a href="tel:0496206080">04 96 20 60 80</a>	
                    <br>Contact : <a href="mailto:contact-plateforme@urps-ml-paca.org ">contact-plateforme@urps-ml-paca.org</a>	
                    <br>La présente politique de protection des données personnelles s’applique à la plateforme accessible à l’adresse <a href="https://www.plateforme-etp-urps-ml-paca.fr" target="_blank">www.plateforme-etp-urps-ml-paca.fr</a> 
                </p>
            </div>

            <h2 class="my-3 mx-4">Quelles données me concernant collectez-vous ? Par quels moyens ?</h2>            
            <div class="mx-5">
                <h5>Vous nous fournissez certaines informations personnelles vous concernant, par vous-même  Lors de votre inscription sur la plateforme :</h5>
                <p>
                    - Des données obligatoires : Nom, prénom, Adresse mail, Médecin traitant 	
                    <br>- De donnée facultative : Classe d’âge.	
                </p>

                <h5>Lors de votre participation à certaines applications présentes sur la plateforme</h5>

                <p>
                    Lors de votre inscription à certaines applications proposées par la plateforme (serious game, etc.) des informations supplémentaires vous concernant pourront vous être demandées à condition qu'elles soient nécessaires ou pertinentes au regard du thème spécifique de l’application en question.
                </p>
            </div>

            <h2 class="my-3 mx-4">Qui a accès aux données que vous nous communiquez ?</h2>
            <div class="mx-5">
                <p>
                    Vos données ne sont exclusivement communiquées qu’aux professionnels de l’URPS-ML-PACA et au médecin traitant que vous déclarez dans votre formulaire d’inscription à la plateforme.<br>Nous ne transfèrerons en aucun cas vos informations personnelles à des acteurs commerciaux ou publicitaires, cette plateforme n’ayant aucun but lucratif. La plateforme et toutes les applications qu’elle héberge ne sont proposés qu’à des fins d’informations et d’éducation sanitaire des patients, de leur entourage, d’acteurs associatifs et de professionnels de santé.
                </p>
            </div>

            <h2 class="my-3 mx-4">Pour quelles raisons traitez-vous mes données ? Pendant combien de temps ?</h2>
            <div class="mx-5">
                <h5>Analyses statistiques</h5>
                <p>
                    L’URPS-ML-PACA réalise des analyses statistiques sur sa plateforme, afin d’en suivre le nombre d’inscrits et leurs activités sur ladite plateforme, notamment la progression éducative des utilisateurs, ainsi que le suivi éducatif par les médecins libéraux tuteurs. Ces données sont conservées pour une durée de 10 ans.
                </p>
                <h5>Suivi éducatif</h5>
                <p>
                    Les professionnels de l’URPS-ML-PACA ainsi que le médecin traitant que vous déclarez dans votre profil de la plateforme peuvent suivre vos détails de connexion (temps passé, dernière date), votre progression éducative (avancement, score), ainsi que les données personnelles que vous renseignez sur la plateforme.
                </p>
            </div>
            
            <h2 class="my-3 mx-4">Que se passe-t-il si je change de médecin traitant ?</h2>
            <div class="mx-5">
                <p>
                    Vous pouvez à tout moment changer le nom de votre médecin traitant en le modifiant dans votre profil utilisateur de la plateforme. Votre nouveau médecin traitant a alors accès à votre suivi sur la plateforme, et les droits d’accès de votre ancien médecin lui sont retirés. Un seul médecin traitant peut avoir accès à votre suivi sur la plateforme.
                </p>
            </div>
            
            <h2 class="my-3 mx-4">Personnalisez-vous mon expérience ?</h2>
            <div class="mx-5">
                <h5>La personnalisation de votre expérience</h5>
                <p>
                    Les informations renseignées dans votre profil ou dans les applications nous permettent d’en savoir un peu plus sur vous. Ce recueil d’information nous permet de personnaliser votre parcours éducatif sur la plateforme, en vous proposant des activités qui correspondent précisément à votre profil. Ces données personnelles sont protégées par toutes les normes de sécurité requises en termes de sécurisation des données médicales.
                </p>
            </div>

            <h2 class="my-3 mx-4">Quelles sont les mesures de sécurité mises œuvre afin de protéger mes données ?</h2>
            <div class="mx-5">
                <p>
                    Nous mettons en œuvre toutes les mesures techniques et organisationnelles afin d’assurer la sécurité des traitements des informations personnelles vous concernant ainsi que leur confidentialité.
                    <br>
                    À ce titre, nous prenons toutes les précautions utiles, au regard de la nature de vos données et des risques présentés par le traitement, afin de préserver la sécurité de vos données et, notamment, d’empêcher qu’elles soient déformées, endommagées, ou que des tiers non autorisés y aient accès (protection physique des locaux, procédés d’authentification avec accès personnel et sécurisé via des identifiants et mots de passe confidentiels, journalisation des connexions, chiffrement ou pseudonymisation de certaines données…). 
                </p>
            </div>

            <h2 class="my-3 mx-4">Puis-je avoir des informations complémentaires ? Obtenir de l’aide ?</h2>
            <div class="mx-5">
                <p>
                    Vous pouvez contacter l’URPS-ML-PACA via la boîte mail suivante : <a href="mailto:contact-plateforme@urps-ml-paca.org">contact-plateforme@urps-ml-paca.org</a>
                    Vous disposez du droit de déposer une réclamation à la Commission Nationale Informatique et Libertés dans les conditions indiquées sur son site internet : <a href="https://www.cnil.fr/fr/agir">https://www.cnil.fr/fr/agir</a>

                </p>
            </div>
            
            <h1 class="my-3 mx-3">Exercer mes droits</h1>

            <h2 class="my-3 mx-4">Quel sont mes droits vis-à-vis de mes données ?</h2>
            <div class="mx-5">
                <p>
                    De manière générale, vous disposez d’un droit d’accès, de rectification, d’opposition pour motif légitime, de suppression et de portabilité de vos données. Vous bénéficiez également d’un droit de limitation du traitement réalisé sur vos données.  Enfin, vous disposez du droit de définir des directives relatives au sort de vos données à caractère personnel après votre décès.
                </p>
            </div>

            <h2 class="my-3 mx-4">Comment exercer mes droits sur mes données ?</h2>
            <div class="mx-5">
                <p>
                    L’exercice de vos autres droits sur vos données nécessite la présentation d'une pièce d'identité par envoi d’un courrier électronique. Sans cette pièce, pour la protection de vos informations personnelles, il nous est impossible de vous les divulguer, de les modifier ou de les supprimer. 
                    <br>Vous pouvez exercer vos droits par email, en précisant le droit que vous souhaitez précisément exercer dans l’objet de votre email : <a href="mailto:contact-plateforme@urps-ml-paca.org">contact-plateforme@urps-ml-paca.org</a>
                    <br>Une réponse vous sera alors adressée dans un délai de 1 mois suivant la réception de votre demande. 
                </p>
            </div>               
        </div>

    </div>
{% endblock %}