{% extends 'base.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}

{% block main %}
    <div class="container">
        <h1>{{ content.title }}</h1>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ content.link }}"></iframe>
        </div>
        <button class="button">Click me to fullscreen the iframe</button>
    </div>
{% endblock %}