<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>Urps-ml-paca - {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap1.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'shared/header.html.twig' %}
        
        {% block body %}
            <div class="container mt-3">
                <div class="jumbotron">
                    <h1 class="display-3">Lorem, ipsum dolor.</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quos nesciunt ullam ratione laboriosam eveniet odio aperiam alias voluptatem nisi obcaecati fugiat, sapiente a! Voluptatum illo veritatis dicta exercitationem aspernatur.</p>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Lorem, ipsum.</a>
                    </p>
                </div>
                
                <h1 class="mt-3 mb-3">Recommander pour vous</h2>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center">
                                <p>Gluciboat</p>
                            </div>

                            <img src="http://placehold.it/1000x400" alt="image jeux-1"
                            style="height: 200px; width 100%; display: block;">

                            <div class="card-body">
                                <h4 class="card-title">Lorem, ipsum dolor.</h4>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti ex reiciendis vel voluptatem, quidem molestiae reprehenderit aspernatur ullam. Eveniet natus nobis necessitatibus officia sequi eligendi non, quos doloremque accusamus dolorem!Itaque aliquid exercitationem esse distinctio minima? Quisquam eos quas architecto. Sed veritatis enim illum exercitationem id laborum tenetur aspernatur rerum? Error perspiciatis veniam nemo voluptatum et unde, eligendi totam dolores?
                                </p>
                                <a href="#" class="btn btn-info float-right">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center">
                                <p>Gluciboat</p>
                            </div>

                            <img src="http://placehold.it/1000x400" alt="image jeux-1"
                            style="height: 200px; width 100%; display: block;">

                            <div class="card-body">
                                <h4 class="card-title">Lorem, ipsum dolor.</h4>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti ex reiciendis vel voluptatem, quidem molestiae reprehenderit aspernatur ullam. Eveniet natus nobis necessitatibus officia sequi eligendi non, quos doloremque accusamus dolorem!Itaque aliquid exercitationem esse distinctio minima? Quisquam eos quas architecto. Sed veritatis enim illum exercitationem id laborum tenetur aspernatur rerum? Error perspiciatis veniam nemo voluptatum et unde, eligendi totam dolores?
                                </p>
                                <a href="#" class="btn btn-info float-right">En savoir plus1</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center">
                                <p>Gluciboat</p>
                            </div>

                            <img src="http://placehold.it/1000x400" alt="image jeux-1"
                            style="height: 200px; width 100%; display: block;">

                            <div class="card-body">
                                <h4 class="card-title">Lorem, ipsum dolor.</h4>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti ex reiciendis vel voluptatem, quidem molestiae reprehenderit aspernatur ullam. Eveniet natus nobis necessitatibus officia sequi eligendi non, quos doloremque accusamus dolorem!Itaque aliquid exercitationem esse distinctio minima? Quisquam eos quas architecto. Sed veritatis enim illum exercitationem id laborum tenetur aspernatur rerum? Error perspiciatis veniam nemo voluptatum et unde, eligendi totam dolores?
                                </p>
                                <a href="#" class="btn btn-info float-right">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <h1 class="mt-3 mb-3">Lorem, ipsum dolor.</h2>

                <div class="row">
                    <div class="col">
                        <div class="card border-secondary mb-3">
                            <div class="card-body">
                                <h4 class="card-title">Lorem, ipsum.</h4>
                                <hr>
                                <div class="card-text">
                                    <img src="http://placehold.it/64x64" alt="image jeux 1" class="float-left mr-3">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, voluptates.</p>
                                    <a href="#" class="btn btn-success float-right">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-secondary mb-3">
                            <div class="card-body">
                                <h4 class="card-title">Lorem, ipsum.</h4>
                                <hr>
                                <div class="card-text">
                                    <img src="http://placehold.it/64x64" alt="image jeux 1" class="float-left mr-3">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, voluptates.</p>
                                    <a href="#" class="btn btn-success float-right">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                 
            </div>  
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
        {% block javascripts %}{% endblock %}
    </body>
</html>
