{% extends 'base.html.twig' %}

{% block title %}Modification des informations personnels{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification des informations personnels</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success">Mise a jour</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
